<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.dilip3.myapplication">
    <!-- Permission for starting app on boot -->
<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <uses-permission  android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />


    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Service required starting app on boot -->
        <service android:name=".MyService" android:label="My Service">
            <intent-filter>
                <action android:name="com.myapp.MyService" />
            </intent-filter>
        </service>

        <receiver
            android:enabled="true"
            android:name=".BootService"
            android:exported="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">

            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.REBOOT"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

        </receiver>
    </application>

</manifest>